<!--PLAYLISTS-->
<div class="card mt-2 my-shadow" [ngSwitch]="showStateSwitch.currentState">

  <div class="card-header py-1 px-2 d-flex justify-content-between align-items-center">
    <div><h6 class="m-0">Playlists</h6></div>
    <button title="criar playlist" [disabled]="showStateSwitch.currentState !== 'playlists'" (click)="showNew()" type="button" class="btn btn-light btn-sm d-block "><i class="fa fa-plus" aria-hidden="true"></i></button>
  </div>

  <div *ngSwitchCase="'playlists'" class="card-body p-1">

    <!--IF USER HAS NO PLAYLISTS, DISPLAY OPTION TO CREATE ONE-->
    <div *ngIf="!hasPlaylists" class="text-center p-1">
      <button type="button" class="btn btn-link text-secondary" (click)="showNew()">Crie uma playlist</button>
    </div>

    <!--IF USER HAS PLAYLISTS, DISPLAY THEM -->
    <div *ngIf="hasPlaylists"  class="list-group">
      <div class="list-group-item list-group-item-action d-flex flex-nowrap align-items-center p-2 my-cursor-pointer" *ngFor="let p of playlists" (click)="playPlaylist(p)">
        <div class="text-truncate" style="flex-grow:1;flex-shrink:1;">{{p.name}}</div>
        <button title="opções" (click)="$event.preventDefault(); $event.stopPropagation(); showOptions(p)" type="button" class="btn btn-light btn-sm" style="flex-grow:0;flex-shrink:0;"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
      </div>
    </div>

  </div>

  <div *ngSwitchCase="'wait'" class="card-body p-1">
    <div class="text-center p-1"><i class="fa fa-spinner fa-pulse"></i></div>
  </div>

  <div *ngSwitchCase="'new'" class="card-body p-1">
    <playlists-new (onClose)="addPlaylist($event)"></playlists-new>
  </div>

  <div *ngSwitchCase="'options'" class="card-body p-1">
    <playlists-options [playlistForOptions]="playlistForOptions" (onClose)="changePlaylist($event)"></playlists-options>
  </div>

  <div *ngSwitchCase="'error'" class="card-body p-1">
    <div class="text-center p-1">indisponivel</div>
  </div>

</div>
