<div class="w-100 bg-secondary " >
  <div class="container-fluid bg-white" style="max-width:1366px; min-width:770px; margin:auto;">

    <div class="row">

      <div class="col-3 col-lg-3 pt-3 p-1 p-lg-2 p-xl-3 bg-light" >
        <div class="card p-1 my-shadow mb-2">
          <div class="bg-primary text-center text-white m-0 pt-3 font-weight-bold"><h3 class="m-0">musicando.site</h3></div>
          <div class="bg-primary text-right text-white pb-1 pr-2"><small>alpha.v0.3</small></div>
        </div>
        <user></user>
      </div>

      <div  class="col-4 col-lg-5 pt-3 p-1 p-lg-2 p-xl-3 bg-dark" style="min-height:100vh">
        <browse></browse>
      </div>

      <div class="col-5 col-lg-4 pt-3 p-1 p-lg-2 p-xl-3 bg-light" >
        <player></player>
      </div>

    </div>

  </div>
</div>

